{% extends 'index.html' %}

{% block 'body' %}

{% load static %}


<div class="container" style="margin-top: 5%;">
    <div class="row">
        {% for request in requests %}
        <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{request.user}}</h5>
                    <h5 class="card-title">{{request.driver}}</h5>
                    <h5 class="card-title">{{request.ride_id}}</h5>

                    <a href="{% url 'carpool:request-details' request.id %}" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}