div header img {
    width: 100%;
    text-align: center;
    align-content: center;
}

img.header {
    display: inline-block;
    max-height: 400px;
    margin: 0 auto;
}

.findaride {
    background-color: #41c1e8;
    color: white;
    padding: 60px;
    margin: 60px;
    border-radius: 20%;
    vertical-align: center;

}

button a {
    align-items: center;
    text-decoration: none;
    color: white;
    display: inline-block;
    font-size: 1.5rem;
    vertical-align: center;
    border: none;


}

button a:hover {
    align-items: center;
    text-decoration: none;
    color: white;
    display: inline-block;
    font-size: 1.5rem;
    vertical-align: center;
    border: none;


}

.svg-inline--fas {
    height: 1.75rem;
    width: 1.75rem;

}

.btn-primary {
    color: #fff;
    background-color: #41c1e8;
    border-color: #41c1e8
}


.btn-primary:hover {
    color: #fff;
    background-color: #3199e8;
    border-color: #3199e8
}

h1.alert-danger {
    text-align: center;
}

.faq-nav {
    flex-direction: column;
    margin: 0 0 32px;
    border-radius: 2px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
}

.faq-nav .nav-link {
    position: relative;
    display: block;
    margin: 0;
    padding: 13px 16px;
    background-color: #fff;
    border: 0;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    color: #616161;
    transition: background-color .2s ease;
}

.faq-nav .nav-link:hover {
    background-color: #f6f6f6;
}

.faq-nav .nav-link.active {
    background-color: #f6f6f6;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.87);
}

.faq-nav .nav-link:last-of-type {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom: 0;
}

.faq-nav .nav-link i.mdi {
    margin-right: 5px;
    font-size: 18px;
    position: relative;
}

.tab-content {
    box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
}

.tab-content .card {
    border-radius: 0;
}

.tab-content .card-header {
    padding: 15px 16px;
    border-radius: 0;
    background-color: #f6f6f6;
}

.tab-content .card-header h5 {
    margin: 0;
}

.tab-content .card-header h5 button {
    display: block;
    width: 100%;
    padding: 0;
    border: 0;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.87);
    text-align: left;
    white-space: normal;
}

.tab-content .card-header h5 button:hover,
.tab-content .card-header h5 button:focus,
.tab-content .card-header h5 button:active,
.tab-content .card-header h5 button:hover:active {
    text-decoration: none;
}

.tab-content .card-body p {
    color: #616161;
}

.tab-content .card-body p:last-of-type {
    margin: 0;
}

.accordion > .card:not(:first-child) {
    border-top: 0;
}

.collapse.show .card-body {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.faq {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    /*border-top-color: transparent;*/
    /*border-right-color: transparent;*/
    /*border-bottom-color: transparent;*/
    /*border-left-color: transparent;*/
    padding: 2px 8px;
    font-size: 14px;
    line-height: 1.2;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}