div header img {
    width: 100%;
    text-align: center;
    align-content: center;
}

img.header {
    display: inline-block;
    max-height: 400px;
    margin: 0 auto;
}

.findaride {
    background-color: #41c1e8;
    color: white;
    padding: 60px;
    margin: 60px;
    border-radius: 20%;
    vertical-align: center;

}

button a {
    align-items: center;
    text-decoration: none;
    color: white;
    display: inline-block;
    font-size: 1.5rem;
    vertical-align: center;
    border: none;


}

button a:hover {
    align-items: center;
    text-decoration: none;
    color: white;
    display: inline-block;
    font-size: 1.5rem;
    vertical-align: center;
    border: none;


}

.svg-inline--fas {
    height: 1.75rem;
    width: 1.75rem;

}

.btn-primary {
    color: #fff;
    background-color: #41c1e8;
    border-color: #41c1e8
}


.btn-primary:hover {
    color: #fff;
    background-color: #3199e8;
    border-color: #3199e8
}

h1.alert-danger {
    text-align: center;
}


.faqHeader {
    font-size: 27px;
    margin: 20px;
}

h2 {
    font-family: Arial, Verdana;
    font-weight: 800;
    font-size: 2.5rem;
    color: #091f2f;
    text-transform: uppercase;
}
.accordion-section .panel-default > .panel-heading {
    border: 0;
    background: #f4f4f4;
    padding: 0;
}
.accordion-section .panel-default .panel-title a {
    display: block;
    font-style: italic;
    font-size: 1.5rem;
}
.accordion-section .panel-default .panel-title a:after {
    font-family: 'FontAwesome';
    font-style: normal;
    font-size: 3rem;
    content: "\f106";
    color: #1f7de2;
    float: right;
    margin-top: -12px;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\f107";
}
.accordion-section .panel-default .panel-body {
    font-size: 1.2rem;
}