{% extends 'index.html' %}

{% block 'body' %}

    {% load static %}
    <section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
        <div class="container">
            <h2>Frequently Asked Questions </h2>
        </div>
        {% for faq in faqs %}

            <div class="container">


                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <h3 class="panel-title">
                           Q: {{ faq.question }}
                            </a>
                        </h3>
                    </div>
                    <div class="panel-body px-3 mb-4">
                       A: {{ faq.answer }}
                    </div>
                </div>


            </div>

        {% endfor %}
    </section>

{% endblock %}