{% extends 'index.html' %}

{% block 'body' %}

    {% load static %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2>Frequently Asked Questions </h2>
            </div>
        </div>
        <p></p>
    <div class="panel-group" id="accordion">
        {% for faq in faqs %}

            <div class="container">
            <div class="row">
            <div class="col-lg-8">
                <div class="tab-content" id="faq-tab-content">
                    <div class="tab-pane show active" id="tab1" role="tabpanel" aria-labelledby="tab1">
                        <div class="accordion" id="accordion-tab-1">
                            <div class="card">
                                <div class="card-header" id="accordion-tab-1-heading-1">
                                    <h5>
                                        <button class="btn btn-link" type="button"  data-target="#accordion-tab-1-content-1" aria-expanded="false" aria-controls="accordion-tab-1-content-1">{{ faq.question }}</button>
                                    </h5>
                                    {% if user.is_superuser %}
                                        <a href="{% url 'edit-faq' faq.id %}" class="btn btn-success faq">Edit</a>
                                        <a href="{% url 'delete-faq' faq.id %}" class="btn btn-danger faq">Delete</a>
                                    {% endif %}
                                </div>
                                <div class="collapse show" id="accordion-tab-1-content-1" aria-labelledby="accordion-tab-1-heading-1" data-parent="#accordion-tab-1">
                                    <div class="card-body">
                                        <p>{{ faq.answer }}</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>

{% endblock %}